



###################################
# OS Specific
###################################


# OSX
.DS_Store

# Thumbnails
._*

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# Android
.csettings
/libs/openFrameworksCompiled/project/android/paths.make